:root {
  --color-peachy: #e17e76;
  --color-peachy-light: #fdf6f5;
  --color-pink: #feadb9;
  --color-pink-light: #f9e1e0;
  --color-dark-grey: #303c38;
  --color-medium-grey: #767676;
  --color-forest-green: #2e8364;
}

body {
  font-family: var(--font-oxygen);
  color: var(--color-dark-grey);
  margin: 0;
  line-height: 1.5;
  word-break: break-word;
}

a {
  color: var(--color-forest-green);
  text-decoration: none;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

iframe {
  width: 100%;
}

blockquote {
  color: var(--color-forest-green);
  font-family: var(--font-noto);
  font-size: 2rem;
  line-height: 1.25;
  margin: 53px 0 10px;
  position: relative;
}

blockquote::before {
  background-image: url("data:image/svg+xml,%3Csvg width='97' height='77' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.246 48.95c0-5.29.814-10.416 2.441-15.38 1.628-4.965 4.212-9.563 7.752-13.795 3.54-4.231 8.138-8.036 13.794-11.413C81.889 4.985 88.786 2.197 96.923 0v12.94c-3.58 1.302-6.754 2.604-9.52 3.906-2.768 1.302-5.067 2.706-6.898 4.211-1.83 1.506-3.214 3.174-4.15 5.005-.936 1.831-1.404 3.967-1.404 6.409 0 1.627.448 2.93 1.343 3.906.895.977 2.034 1.912 3.418 2.808 1.383.895 2.848 1.81 4.394 2.746 1.547.936 3.012 2.116 4.395 3.54 1.383 1.424 2.523 3.235 3.418 5.432.895 2.198 1.343 4.964 1.343 8.301 0 5.615-1.73 9.888-5.188 12.817-3.459 2.93-7.752 4.395-12.879 4.395-7.08 0-12.675-2.441-16.784-7.324-4.11-4.883-6.165-11.597-6.165-20.142zM0 48.95c0-5.29.814-10.416 2.441-15.38 1.628-4.965 4.212-9.563 7.752-13.795 3.54-4.231 8.138-8.036 13.794-11.413C29.643 4.985 36.54 2.197 44.677 0v12.94c-3.661 1.302-6.856 2.604-9.582 3.906-2.726 1.302-5.005 2.706-6.836 4.211-1.83 1.506-3.214 3.174-4.15 5.005-.936 1.831-1.404 3.967-1.404 6.409 0 1.627.448 2.93 1.343 3.906.895.977 2.034 1.912 3.418 2.808 1.383.895 2.848 1.81 4.394 2.746 1.547.936 3.011 2.116 4.395 3.54 1.383 1.424 2.523 3.235 3.418 5.432.895 2.198 1.343 4.964 1.343 8.301 0 5.615-1.73 9.888-5.188 12.817-3.459 2.93-7.752 4.395-12.879 4.395-7.08 0-12.675-2.441-16.784-7.324C2.055 64.209 0 57.495 0 48.95z' fill='%23FEE1E0' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 76px;
  position: absolute;
  top: -33px;
  left: -16px;
  z-index: -1;
  width: 96px;
}

@media (min-width: 1024px) {
  blockquote::before {
    left: -73px;
  }
}

/* Yeah this is super maintainable... */
p code,
li code {
  background-color: var(--color-peachy-light);
  outline: 4px solid var(--color-peachy-light);
  margin: 0 4px;
  padding: 0 2px;
}

/* Code styles */
pre {
  background-color: var(--color-peachy-light) !important;
  border-left: 5px solid var(--color-peachy);
  padding: 15px;
}
/* Background */
pre {
  overflow-x: scroll;
  margin: 0;
  scrollbar-width: none;
  word-break: normal;
}

@media (min-width: 1024px) {
  pre {
    position: relative;
    width: 840px;
    left: -83px;
  }
}

pre::-webkit-scrollbar {
  display: none;
}
