.container {
  position: relative;
}

@media (min-width: 1024px) {
  .container {
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.line {
  display: none;
}

@media (min-width: 1024px) {
  .line {
    display: block;
    position: absolute;
    bottom: 0;
  }
}

.lineOne {
  left: 0;
}

.lineTwo {
  right: 0;
}

.footer {
  background-color: var(--color-peachy-light);
  margin-top: 30px;
  padding: 70px 16px;
  text-align: center;
}

.content {
  margin-bottom: 0;
}

.link {
  font-weight: 700;
}
