.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 16px;
  position: relative;
  z-index: 1;
}

@media (min-width: 1024px) {
  .header {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.linkText {
  margin: 0;
  display: inline-flex;
  gap: 30px;
}

.link {
  color: var(--color-forest-green);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 250ms;
}

.link:hover,
.link.active {
  border-color: var(--color-forest-green);
}
